.reviews {
  display: flex;
  flex-wrap: wrap;
}

.review {
  margin: 15px;
  width: calc(50% - 30px);
}

.review-container {
  display: flex;
}

.review-img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 4px;
  margin-right: 10px;
}

.review-no-img {
  width: 120px;
  height: 120px;
  border-radius: 4px;
  color: #fff;
  background: #ddd;
  text-align: center;
  line-height: 120px;
  margin-right: 10px;
}

.review-right {
  width: calc(100% - 130px);
}

.review-score {
  margin-bottom: 5px;
}

.review-stars {
  width: 5.8em;
  font-size: 15px;
  letter-spacing: 0.2em;
  color: var(--accent-color);
  position: relative;
  display: inline-block;
  margin-right: 3px;
}

.review-stars-front {
  position: absolute;
  overflow: hidden;
}

.review-text {
  font-size: 15px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.review-user {
  display: flex;
  margin-bottom: 3px;
}

.review-user-img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.review-user-nickname {
  line-height: 30px;
  font-size: 15px;
  font-weight: 300;
  color: #333;
}