.reviews {
  display: flex;
  flex-wrap: wrap;
}

.review {
  margin: 15px;
  width: calc(50% - 30px);
}

.review-container {
  display: flex;
}

.review-img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  background: #ddd;
  border-radius: 4px;
  margin-right: 5px;
}

.review-right {
  position: relative;
  width: calc(100% - 125px);
}

.review-star {
  margin-right: 3px;
}

.review-text {
  font-size: 15px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.review-user-nickname {
  position: absolute;
  bottom: 0;
  font-size: 13px;
  color: #777;
  white-space: nowrap;
}