.show-brand-name {
  margin: 30px 0 7px;
  color: #777;
}

.show-item-name {
  font-size: 25px;
  margin-bottom: 10px;
}

.show-item {
  display: flex;
}

.show-item-img {
  height: 400px;
  width: 400px;
  object-fit: cover;
  margin-right: 20px;
}

.show-avg {
  display: flex;
  margin-bottom: 30px;
}

.show-avg-stars {
  cursor: default;
}

.show-avg-star {
  font-size: 30px;
}

.show-avg-value {
  margin-left: 10px;
  font-size: 20px;
}

.show-reviews-count {
  color: #555;
  font-size: 18px;
  padding-left: 5px;
}

.show-specs {
  margin-bottom: 30px;
}

.show-spec {
  display: flex;
  border-top: 1px solid #ccc;
  padding: 8px 0 8px 10px;
}

.show-specs .show-spec:last-child {
  border-bottom: 1px solid #ccc;
}

.show-spec-title {
  min-width: 100px;
  font-weight: normal !important;
}

.btn.show-new-review {
  display: table;
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0 auto;
}
