.show-item-brand-name {
  margin: 30px 0 7px;
  font-size: 18px;
  color: #777;
  text-decoration: underline;
}

.show-item-name {
  font-size: 25px;
  margin-bottom: 10px;
}

.show-item {
  display: flex;
}

.show-item-img {
  height: 400px;
  width: 400px;
  object-fit: cover;
  margin-right: 20px;
}

.show-avg-btn {
  width: 100%;
  display: inline-block;
  background: #f5f5f5;
  padding: 10px 10px 10px 20px;
  margin-bottom: 30px;
  border-radius: 10px;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.16);
}

.show-avg {
  display: flex;
  justify-content: space-between;
}

.show-avg-stars {
  width: 5.8em;
  font-size: 30px;
  letter-spacing: 0.2em;
  color: var(--accent-color);
  position: relative;
  display: inline-block;
}

.show-avg-stars-front {
  position: absolute;
  overflow: hidden;
}

.show-avg-value {
  position: relative;
  top: -4px;
  margin-left: 10px;
  font-size: 20px;
}

.show-reviews-count {
  position: relative;
  top: -5px;
  color: #555;
  font-size: 18px;
  margin-left: 5px;
}

.show-reviews-text {
  position: relative;
  top: 8px;
  font-size: 14px;
  margin-right: 7px;
  color: #555;
}

.show-reviews-sort {
  position: relative;
  top: 11px;
  margin-right: 10px;
  font-size: 25px;
  color: #555;
}

.show-specs {
  margin-bottom: 30px;
}

.show-spec {
  display: flex;
  border-top: 1px solid #ccc;
  padding: 8px 0 8px 10px;
}

.show-specs .show-spec:last-child {
  border-bottom: 1px solid #ccc;
}

.show-spec-title {
  min-width: 100px;
  font-weight: normal !important;
}

.show-new-review-btn, .show-edit-item-btn {
  display: table;
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0 auto;
}
