header {
  width: 100%;
  border-bottom: 1px solid #000;
}

.header {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  color: var(--main-color1);
}

.btn {
  background: var(--accent-color);
  color: var(--base-color);
  padding: 10px 18px;
  border-radius: 3px;
}

.signup, .logout {
  margin-left: 10px;
}