header {
  width: 100%;
  border-bottom: 1px solid #000;
}

.header {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  color: var(--main-color1);
}

.header-right {
  display: flex;
}

.current-user {
  color: var(--main-color2);
  margin-right: 20px;
  display: flex;
  align-items: center;
}

.current-user-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 5px;
}

.btn {
  background: var(--accent-color);
  color: var(--base-color);
  padding: 10px 18px;
  border-radius: 3px;
}

.signup {
  margin-left: 10px;
}